annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
blis @ file:///D:/bld/cython-blis_1729663826648/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
catalogue @ file:///D:/bld/catalogue_1736092443975/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///D:/bld/cffi_1725560792189/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///D:/bld/click_1734858834134/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1742778899628/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1740630664356/work
cymem @ file:///D:/bld/cymem_1737125900970/work
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1734376437639/work
language_data @ file:///home/conda/feedstock_root/build_artifacts/language-data_1732032415021/work
marisa-trie @ file:///D:/bld/marisa-trie_1736179030257/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219648915/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
murmurhash @ file:///D:/bld/murmurhash_1728933072026/work
numpy @ file:///D:/bld/numpy_1732314314278/work/dist/numpy-2.0.2-cp39-cp39-win_amd64.whl#sha256=8824ea87142626db7bbf79bdbcbd5b3a2fd77d7570bd62b4f705100e42b651e1
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
preshed @ file:///D:/bld/preshed_1728945745457/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1689770207113/work
pydantic_core @ file:///D:/bld/pydantic-core_1689286470229/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1743371105/work/dist
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
smart_open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1734485076778/work/dist
spacy @ file:///D:/bld/spacy_1743547410616/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///D:/bld/srsly_1740609662091/work
thinc @ file:///D:/bld/thinc_1733202744376/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typer==0.15.3
typer-slim==0.15.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
ujson @ file:///D:/bld/ujson_1724954498610/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1740630716360/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1734270156651/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt @ file:///D:/bld/wrapt_1736869485560/work
zstandard==0.23.0
