{% extends "layout.html" %}

{% block title %}
    Index 
{% endblock %}

{% block main %}
    <h2 style="font-family: 'Bahnschrift', sans-serif; font-weight: bold;"> Promptly : A Prompt Optimizer</h2>
    <h4></h4> 
    {% if not final_optimised_prompt %}
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h4 style="font-family: 'Bahnschrift', sans-serif; font-weight: bold;">Enter your Prompt Here</h4>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endif %}
                    <textarea id="initial_prompt" name="initial_prompt" required
                    placeholder="Maximum {{ max_chars }} characters"
                    maxlength="{{ max_chars }}"
                    class="form-control"
                    style="width: 100%; height: 160px; font-size: 1.2rem;">{{ initial_prompt }}</textarea><br>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>

        </form>  
    {% else %}
        <div class="card">
            <div class="card-header">
                <h4 style="font-family: 'Bahnschrift', sans-serif; font-weight: bold;">Here is your optimised Prompt</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {% for key,value in final_optimised_prompt.items() %}
                        {% if key == "Optimized Prompt" %}
                            <ul class="para">
                                <li style="white-space: pre-line;">{{ key }} :
{{ value }}</li>
                            </ul>     
                        {% else %}  
                            <ul style="text-align: left;">
                                <li>{{ key }} : {{ value }}</li>
                            </ul> 
                        {% endif %}
                    {% endfor %}
                    {% for note in notes %}
                        <ul style="text-align: left;">
                            <li>Safeguard : {{ note }}</li>
                        </ul>
                    {% endfor %}
                </p>
                <form method="post" action="/result">
                    <textarea name="prompt" hidden>{{ optimized_prompt }}</textarea>
                    <input type="submit" value="Get Result" class="btn btn-primary">
                </form>
            </div>
        </div>   
    {% endif %}      
    
    
{% endblock %}